<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate Articles and Blogs</title>
    </head>

    <body>

        <header>
         <div class="header">
             <h2> Blog and Article Analysis with NLP</h2>
         </div>
        </header>

        <main>
            <section>
                <form class="form" onsubmit="return handleSubmit(event)">
                    <input class="text" type="text" name="input" placeholder="Enter Sentence or Url for Analysis ">
                    <input class="submit" type="submit" placeholder="Submit" onclick="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div class="results">
                    <h2 class="text"></h2>
                    <h3 class="polarity">Polarity</h3>
                    <h3 class="subjectivity">Subjectivity</h3>
                    <h3 class="pol-confidence">Pol-confidence</h3>
                    <h3 class="sub-confidence">Sub-confidence</h3>
                </div>

            </section>
            

        </main>

        <footer>
             <div class="footer">
                  <p>Created by Omogbare Sikpojie</p>
             </div>
           
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
